
version: '3'

services:
  rv-vdb:
    build:
      context: .
      dockerfile: db_dockerfiles/vdb/Dockerfile
    container_name: rv-vdb${CONTAINER_SUFFIX}
    ports:
      - "33061:3306"
    expose:
      - "33061"  # Expose port for external access

  rv-vvta:
    build:
      context: .
      dockerfile: db_dockerfiles/vvta/Dockerfile
    container_name: rv-vvta${CONTAINER_SUFFIX}
    ports:
      - "54321:5432"
    expose:
      - "54321"  # Expose port for external access
    shm_size: 2g

  rv-seqrepo:
    build:
      context: .
      dockerfile: db_dockerfiles/seqrepo/Dockerfile
    container_name: rv-seqrepo${CONTAINER_SUFFIX}
    volumes:
      - seqdata:/usr/local/share/seqdata  # Mount volume for sequence data

  rest-variantvalidator:
    build: .
    container_name: rest-variantvalidator${CONTAINER_SUFFIX}
    entrypoint: /bin/bash
    command: ["-c", "sleep infinity"]
    restart: always
    depends_on:
      - rv-vdb
      - rv-vvta
      - rv-seqrepo
    volumes:
      - vv-logs:/usr/local/share/logs  # Mount volume for logs
      - seqdata:/usr/local/share/seqdata  # Mount volume for sequence data
    ports:
      - "5000:5000"
      - "5050:5050"
      - "8000:8000"
      - "9000:9000"
    expose:
      - "5000"  # Expose ports for external access
      - "5050"
      - "8000"
      - "8080"

volumes:
  seqdata:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '${HOME}/variantvalidator_data/seqdata'
  vv-logs:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '${HOME}/variantvalidator_data/logs'
