setuptools==58.2.0
git+https://github.com/openvar/vv_hgvs@master#egg=vvhgvs
git+https://github.com/openvar/variantValidator@master#egg=VariantValidator
git+https://github.com/openvar/variantFormatter@master#egg=VariantFormatter
biopython
gunicorn
biocommons.seqrepo>=0.5.1
httplib2>=0.9.0
configparser>=3.5.0
pyliftover>=0.3
biotools>=0.3.0
requests
dicttoxml
pytest>=3.6
pytest-cov
codecov

# Core web components
flask-restx==1.0.3
Flask==2.3.2
Jinja2==3.1.2
Werkzeug==2.3.6
MarkupSafe==2.1.3
