git+https://github.com/openvar/variantValidator@develop_v1#egg=VariantValidator
git+https://github.com/openvar/variantFormatter@master#egg=VariantFormatter
git+https://github.com/openvar/vv-flask-restful-swagger@master#egg=vv_flask_restful_swagger
flask
flask-log
flask-mail
flask-restful
biocommons.seqrepo>=0.5.1
httplib2>=0.9.0
configparser>=3.5.0
pyliftover>=0.3
biotools>=0.3.0
mysql-connector-python
requests
pytest>=3.6
pytest-cov
codecov




